// google font
@import url('https://fonts.googleapis.com/css?family=Bungee');
$hoursOuterColor: #004e64;
$minutesOuterColor: #efd09e;
$secondsOuterColor: #2e282a;
$hoursInnerColor: #ffffff;
$minutesInnerColor: #272727;
$secondsInnerColor: #aef3e7;
body {
    background-color: #212121;
    font-family: 'Bungee', cursive;
}

.time {
    height: 350px;
    width: 350px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    // border: 1px solid red;
    ul {
        list-style-type: none;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 500px;
        li {
            position: absolute;
            height: 50%;
            width: 20px;
            transform-origin: bottom;
            left: 0;
            right: 0;
            top: 0;
            margin: auto;
            text-align: center;
            font-size: 1.2rem;
            line-height: 40px;
        }
        @for $i from 1 through 12 {
            li:nth-child(#{$i}) {
                transform: rotate(#{$i*30deg});
            }
        }
        &.seconds {
            background-color: $secondsOuterColor;
            height: 60%;
            width: 60%;
            z-index: 3;
            color: $secondsInnerColor;
            box-shadow: 0px 0px 5px draken($secondsOuterColor, 40%);
        }
        &.minutes {
            width: 80%;
            height: 80%;
            background-color: $minutesOuterColor;
            color: $minutesInnerColor;
            z-index: 2;
            box-shadow: 0px 0px 0px darken($minutesOuterColor, 40%);
        }
        &.hours {
            width: 100%;
            height: 100%;
            background-color: $hoursOuterColor;
            color: $hoursInnerColor;
            z-index: 1;
            box-shadow: darken($hoursOuterColor, 40%);
        }
    }
    &.pointer {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            // bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 50%;
            width: 0;
            opacity: 0.2;
            border: 2px solid darken($secondsOuterColor, 40%);
            border-radius: 500px;
            z-index: 55;
        }
    }
}